. {
    errors
    bufsize 512
    health :18080
    forward . {{- range $upstream := .DNSUpstreams}} {{$upstream}}{{- end}} {
        policy sequential
    }
    cache 30
    reload
    template IN {{ .Cluster.IngressVIPRecordType }} ocp01.telco.ocp.run {
        match .*.apps.ocp01.telco.ocp.run
        answer "{{"{{ .Name }}"}} 60 in {{"{{ .Type }}"}} 172.21.104.26"
        fallthrough
    }
    template IN {{ .Cluster.IngressVIPEmptyType }} ocp01.telco.ocp.run {
        match .*.apps.ocp01.telco.ocp.run
        fallthrough
    }
    template IN {{ .Cluster.APIVIPRecordType }} ocp01.telco.ocp.run {
        match api.ocp01.telco.ocp.run
        answer "{{"{{ .Name }}"}} 60 in {{"{{ .Type }}"}} 172.21.104.25"
        fallthrough
    }
    template IN {{ .Cluster.APIVIPEmptyType }} ocp01.telco.ocp.run {
        match api.ocp01.telco.ocp.run
        fallthrough
    }
    template IN {{ .Cluster.APIVIPRecordType }} ocp01.telco.ocp.run {
        match api-int.ocp01.telco.ocp.run
        answer "{{"{{ .Name }}"}} 60 in {{"{{ .Type }}"}} 172.21.104.25"
        fallthrough
    }
    template IN {{ .Cluster.APIVIPEmptyType }} ocp01.telco.ocp.run {
        match api-int.ocp01.telco.ocp.run
        fallthrough
    }
    hosts {
        {{- range .Cluster.NodeAddresses }}
        {{ .Address }} {{ .Name }} {{ .Name }}.{{ $.Cluster.Name }}.{{ $.Cluster.Domain }}
        {{- end }}
        fallthrough
    }
}